<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="form-group">
            <label for="nombre">
                <f:translate key="tx_biblio_domain_model_lector.nombre" />
            </label><br>
                    <f:form.textfield property="nombre"  class="form-control" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="rut">
                <f:translate key="tx_biblio_domain_model_lector.rut" />
            </label><br>
                    <f:form.textfield property="rut"  class="form-control" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="password">
                <f:translate key="tx_biblio_domain_model_lector.password" /> <span class="required" style="color:red">*(requerido)</span>
            </label><br>
            <f:form.textfield property="password"  class="form-control" type="text" maxlength="255" />
        </div>
</html>
